{% extends "Nav_Bar.html" %}
{% block content %}
<div class="formhead">
		<p>Investment Information</p>
     </div>
<form class="subform">
    <form method = "POST" action="{{url_for( 'InvestmentInfoForm' )}}">
        {{ form.csrf_token }}
        <div class="input">
              {{form.DocumentType.label}}
              {{form.DocumentType}}
              {{form.InvestmentNum.label}}
              {{form.InvestmentNum}}
              {{form.DocumentNumber.label}}
              {{form.DocumentNumber}}
              {{form.DocumentName.label}}
              {{form.IssueDate.label}}
              {{form.IssueDate}}
        </div>
              {{form.Attachment.label}} 
              <br>
              {{ form.Attachment }}
              
        <div class = "input">
              <br>
              {{ form.Submit }}
              <br>
              {{ form.Modify }}
        </div>
</form>
    </form>
    {% endblock content %}
