{% extends "Nav_Bar.html" %}
{% block content %}
<div class="formhead">
    <p>Login</p>
</div>
<form class="subform"
      method="POST" action="{{url_for( 'login' )}}">
    {{ form.csrf_token }}
    <div class="input">
        {{form.username.label}}
        {{form.username}}
        {{form.password.label}}
        {{form.password}}
        {{form.remember.label}}
        {{form.remember}}
        <br>
        {{ form.submit }}
        <li><a href="/signup">don't have account signup for free</a></li>
    </div>
</form>
    {% endblock content %}
