{% extends "Nav_Bar.html" %}
{% block content %}
<div class="formhead">
		<p>Referance Document</p>
     </div>
<form class="subform">
    <form method = "POST" action="{{url_for( 'ReferanceDocumentForm' )}}">
        {{ form.csrf_token }}
        <div class="input">
              {{form.DocumentType.label}}
              {{form.DocumentType}}
              {{form.DocumentSequence.label}}
              {{form.DocumentSequence}}
              {{form.DocumentNumber.label}}
              {{form.DocumentNumber}}
              {{form.DocumentName.label}}
              {{form.DocumentName}}
              {{form.IssueDate.label}} 
              {{ form.IssueDate }}
        </div>
              <br>
              {{form.Attachment}}
              <br>
        <div class ="input">
              <br>
              {{ form.Submit }}
              <br>
              {{ form.Modify }}
        </div>
</form>
    </form>
    {% endblock content %}